:root{
--space-1:2px;
--space-2:4px;
--space-3:6px;
--space-4:8px;
--space-5:10px;
--space-6:12px;
--space-7:14px;
--space-8:16px;
--space-9:20px;
--space-10:24px;
--space-11:30px;

--sidebar-width:172px;
--fixed-strip-width:220px;
--content-padding-x:26px;
--frame-border-outer:2px;
--frame-border-inner:1px;
--frame-border-double:3px;
--radius:0px;
}
